/*
Theme Name: algeroturque 2019
Author: Mouhamed Amine Ben Hamida
*/

@media (max-width:1024px) {
	#about-us-text-block {
		padding: 0px 50px;
	}
}

@media (max-width:768px) {
	#about-us-text-block {
		padding: 50px;
	}
	
	#contenu {
		margin-top: 100px;
	}

	#site-header {
		display: block;
	}
	.logo {
		display: none;
	}
	#mega-menu-wrap-primary {
		width: 100%;
	}

	.main-slider, .main-slider .white, .main-slider .owl-carousel, .main-slider .owl-stage-outer, .main-slider .owl-stage, .main-slider .owl-item, .main-slider .owl-item .sa_hover_container {
		height: 100vh !important;
	}

	#main-contenu .owl-item h1 {
		line-height: 50px;
		font-size: 28px;
	}

	#main-contenu .owl-item a {
		font-size: 25px;
	}

	/* contactez nous */



	/* à propos */

}

@media (max-width:430px) {
	.wp-block-cover p {
		font-size: 25px;
	}

	h1 {
		font-size: 30px;
	}

	#about-us-text-block h1 {
		margin: 20px auto;
	}

	#about-us-text-block p {
		text-align: justify;
	}

	.main-slider, .main-slider .owl-carousel, .main-slider .owl-stage-outer, .main-slider .owl-stage, .main-slider .owl-item, .main-slider .owl-item .sa_hover_container {
		height: 100vh !important;
	}

	#main-contenu .owl-item h1 {
		line-height: 50px;
		font-size: 25px;
	}

	#main-contenu .owl-item a {
		font-size: 25px;
	}

	/* à propos */

	#a-propos-img {
		width: 100%;
	}

	#about-us-text-block {
		padding: 40px; 
	}
}