/*
Theme Name: Thala Films 2019
Author: Mouhamed Amine Ben Hamida @ twss.digital
*/

/* general */

body {
	margin:0px;
	height: 100%;
	width: 100%;/*
	background: url(images/eldjazira.png) no-repeat center fixed blur(4px);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

a {
	text-decoration: none;
}

iframe {
	min-height: 250px;
	height: 250px;
	/*-webkit-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 26px -4px rgba(0,0,0,0.75);*/
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/* fonts */

@font-face {
  font-family: 'din-medium';
  src: url('../fonts/fonts/DIN-Medium.ttf');
}

@font-face {
  font-family: 'din-black';
  src: url('../fonts/fonts/DIN-Black.ttf');
}

@font-face {
  font-family: 'proxima-regular';
  src: url('../fonts/fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'proxima-bold';
  src: url('../fonts/fonts/ProximaNova-Bold.otf');
}

@font-face {
  font-family: 'proxima-semibold';
  src: url('../fonts/fonts/ProximaNovaCond-Semibold.otf');
}

@font-face {
  font-family: 'proxima-black';
  src: url('../fonts/fonts/ProximaNova-Black.otf');
}

@font-face {
  font-family: 'proxima-extrabold';
  src: url('../fonts/fonts/ProximaNova-Extrabold.otf');
}

@font-face {
  font-family: 'proxima-semibold';
  src: url('../fonts/fonts/ProximaNova-Semibold.otf');
}

@font-face {
  font-family: 'source-code-regular';
  src: url('../fonts/fonts/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: 'source-code-medium';
  src: url('../fonts/fonts/SourceCodePro-Medium.ttf');
}

@font-face {
  font-family: 'source-code-bold';
  src: url('../fonts/fonts/SourceCodePro-Bold.ttf');
}

@font-face {
  font-family: 'frutiger-lt-arabic';
  src: url('../fonts/fonts/FrutigerLTArabic.ttf');
}

.contenu {
	font-family: 'frutiger-lt-arabic';
	margin-bottom: 50px;
}

.contenu h1 {
	font-family: 'proxima-bold';
	/*font-size: 40px;*/
}

.bg-image {
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	z-index: 1;
	background: url(../images/djawanbasit.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	filter: blur(3px);
}

.bg-image img{
	width:100%;
	height:100%;
}

.blur-overlay {
  background-color: inherit;
  margin: 0px;
  padding:0px;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;
  background:black;
  background:rgba(0,0,0,0.6);
}

.page {
	z-index: 3;
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	color: #fff;
}

.page .main-logo a {
	width: 100%;
	display: flex;
	justify-content: center;
}

.page .main-logo a img {
	width: 70%;
}

header li {
	list-style: none;
}
header {
	width:100%;
	padding:0px 30px 15px 30px;
	font-family: 'frutiger-lt-arabic';
}

header li {
	float:left;
}

header li a {
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-size:11px;
	margin:0px 20px;
	transition: 0.3s ease-in-out all;
	padding: 10px;
}

header li a:hover {
	font-weight: bold;
}

header .menu {
	margin: 0px;
}

header .menu li {
	padding: 10px 0px;
}

header .main-menu {
	padding:0px 30px 30px 30px;
	display: flex;
    justify-content: center;
    align-items: center;
}

header .left-menu, .right-menu {
	width: 40%;
}

header .main-logo {
	width:20%;
	display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}

header .right-menu ul{
	float: right;
}

header .left-menu ul li:first-child a {
	margin-left:0px;
}

.page-title h1 {
	text-transform: uppercase;
	margin: 20px 0px;
	text-align: right;
	font-family: 'frutiger-lt-arabic';
	margin: 0px;
}

.page-title hr {
	width: 10vw;
	margin-right:0px;
	height: 3px;
	border:#fff;
	background-color: #fff;
}

.secondary-menu {
	border-bottom: 1px solid #bfbebb;
}

.secondary-menu ul {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* Qui sommes nous */

.demo-video{
	width: 100%;
	margin: 16px 0px;
}

.demo-video iframe{
	width: 100%;
}

.demo-video h3 {
	text-align: center;
	font-family : 'source-code-regular';
	font-size: 15px;
}

.qui-somme-nous p {
	line-height: 20px;
	margin-bottom: 20px;
}


/* Footer */

.footer {
	position: fixed;
	bottom:0px;
	left:0px;
	width: 100px;
	height: 150px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.footer div {
	height: 50%;
	width:50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer div a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer div img {
	width:25%;
}

.footer .footer-vertical-line {
	width:2px;
	/*background-color: #3B3B3B;*/
	background-color: #fff;
}

/* Offres de services */

.page.no-background h1 {
	color: #000;
}

.page.no-background h3 {
	color: #2052F5;
	text-transform: uppercase;
	margin: 30px 0px;

}

.page.no-background .page-title hr {
	width: 10vw;
	margin:10px 0px;
	height: 2px;
	border:#000;
	background-color: #000;
}

.page.no-background header li a {
	color: grey !important;
} 

.page.no-background p,  .page.no-background li{
	color: #000;
}

.page.no-background .footer .footer-vertical-line {
	width:2px;
	/*background-color: #3B3B3B;*/
	background-color: #000;
}


.contenu li.first-order-li {
	padding-bottom:20px;
}
.contenu li.second-order-li {
	color:grey;
	font-size:15px;
	list-style: none;
}

/* categories */

.project-slide .sub_category {
	margin-bottom: 50px;
}

.project-slide .sub_category h2 {
	text-align: right;
}

.project-slide .sub_category h2 a {
	text-decoration: none;
	color: #2E2E2E !important;
}

.sub-category-owl-carousel .post-overlay {
	background:rgba(0,0,0,0.5);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.sub-category-owl-carousel .post-overlay h3 {
	text-align: center;
	color:white !important;
	font-family: "proxima-bold";
}

.owl-carousel {
	display:block;
	position: relative;
}

.owl-carousel .item {
	height: 480px;
}

.sub-category-owl-carousel .item {
	height: 250px;
}

.sub-category-owl-carousel .owl-nav {
	font-family: "source-code-medium";
	display: block !important;
}

.sub-category-owl-carousel .owl-nav .owl-prev {
	font-size: 50px !important;
	position: absolute;
	top: 32%;
	left: -5%;
	color: #000 !important;
}

.sub-category-owl-carousel .owl-nav .owl-next {
	font-size: 50px !important;
	position: absolute;
	top: 32%;
	right: -5%;
	color: #000 !important;
}

.owl-carousel .owl-dots {
	transform: rotate(90deg);
    position: absolute;
    top: 40%;
    right: -150px;
    display: none;
}

.owl-carousel .owl-dots .owl-dot span {
	background-color: #869791;
}
.owl-carousel .owl-dots .owl-dot.active span {
	background-color:#fff !important;
	-webkit-box-shadow: 0px 3px 57px -12px rgba(255,255,255,1) !important;
-moz-box-shadow: 0px 3px 57px -12px rgba(255,255,255,1) !important;
box-shadow: 0px 3px 57px -12px rgba(255,255,255,1) !important;
}

.category-owl-carousel .owl-nav {
	display:none;
}

.post-overlay {
	background:rgba(0,0,0,0.4);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-family: frutiger-lt-arabic;
}

.post-overlay .top-line, .post-overlay .bottom-line {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: "source-code-medium";
	font-size: 12px;
	text-transform: uppercase;
}

.post-overlay .span-2 {
	color:#dedede;
}

.post-overlay .left {
	margin-left:5%;
}

.post-overlay .right {
	margin-right: 5%;
}

.post-overlay h1 {
	color:#fff !important;
	text-align: center;
	text-transform: uppercase;
	font-family: frutiger-lt-arabic;
	font-size: 50px;
	margin: 0px;
}

.post-overlay span {
	font-family: 'frutiger-lt-arabic';
}

.post-overlay .realisateur {
	text-transform: uppercase;
	font-size: 15px;
	display: flex;
	justify-content: center;
}

.contenu .project-slide {
	padding: 0px;
	font-family: 'frutiger-lt-arabic';
}

.contenu .project-slide .owl-stage-outer {
	border-radius: 2px;
}

/* Single post */

.post-category {
	font-family: 'frutiger-lt-arabic';
	text-transform: uppercase;
	font-size: 15px;
	text-align: right;
}

.post-category a {
	text-decoration: none;
	color: grey;
}

.post-page iframe {
	width: 100%;
}

.span-1 {
	color:#bfbfbf;
}

.span-2 {
	font-weight: bold; color:#fff
}

.synopsis {
	font-family: frutiger-lt-arabic;
    font-size: 17px;
    line-height: 23px;
    margin: 40px 0px 100px 40px;
    text-align: right;
}

.general-project-info {
	font-family: "frutiger-lt-arabic";
	text-align: right;
}

.nav-links {
	display: flex;
	justify-content: space-between;
}

.nav-links .nav-previous a , .nav-links .nav-next a {
	color: #fff;
	font-family: 'frutiger-lt-arabic';
	display: flex;
}

.nav-links .nav-next a {
	text-align: right;
}

.nav-links .nav-previous a div{
	margin-left: 5px;
}

.nav-links .nav-next a div{
	margin-right: 5px;
}