/*
Theme Name: algeroturque
Author: Mouhamed Amine Ben Hamida
*/

@font-face {
    font-family: gilroy-bold;
    src: url(../fonts/gilroy/gilroy-bold.otf);
}

@font-face {
    font-family: gilroy-light;
    src: url(../fonts/gilroy/gilroy-light.otf);
}

@font-face {
    font-family: proxima-nova-bold;
    src: url(../fonts/proxima-nova/ProximaNova-Bold.otf);
}

@font-face {
    font-family: proxima-nova-light;
    src: url(../fonts/proxima-nova/ProximaNovaCond-Light.otf);
}

@font-face {
    font-family: proxima-nova-regular;
    src: url(../fonts/proxima-nova/ProximaNovaCond-Regular.otf);
}

@font-face {
    font-family: proxima-nova-black;
    src: url(../fonts/proxima-nova/ProximaNova-Black.otf);
}

@font-face {
    font-family: circular-medium;
    src: url(../fonts/circular/circular-medium.otf);
}

@font-face {
    font-family: circular-book;
    src: url(../fonts/circular/circular-book.otf);
}

@font-face {
    font-family: circular-bold;
    src: url(../fonts/circular/circular-bold.otf);
}

h1 {
    text-transform: uppercase;
    font-family: 'circular-bold', sans-serif !important;
    color: #253577;
    border-left: 5px solid #f8c601;
    padding-left: 10px;
}

h2, h3 {
    font-family: 'circular-medium', sans-serif;
    color: #253577;
}

p, li {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#contenu {
    margin-top: 150px;
    margin-bottom: 150px;
} 

#contenu p {
    margin: 50px 0px;
}

#site-header {
    display: inline-grid;
    grid-template-columns: 15% auto;
    align-items: stretch;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1000000;
    background-color: white;
}

#site-header a.mega-menu-link {
    text-transform: uppercase;
}

#site-header .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'gilroy-bold', sans-serif;
    /* background-color: #141938; */
}

#site-header img {
    padding: 10px 0px;
    width: 80%;
    display: block;
    margin: 0px auto;
}

#main-contenu .owl-item h1 {
    background-color: rgba(37,53,119,0.8);
    display: inline;
    padding: 5px;
    color: white;   
    line-height: 70px;  
    font-size: 2.4vw;
    font-family: 'gilroy-light';
}

#main-contenu .owl-item p {
    margin-top: 1rem !important;
}

#main-contenu .owl-item a {
    text-transform: uppercase;
    color: #f8c601;
    font-family: gilroy-bold;
    font-size: 30px;
}

.sa_hover_container.sa_vert_center_wrap {
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.owl-nav button {
    outline: none;
    border: none;
}

#site-footer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 50px;
    font-size: bold;
    background-color: rgba(0, 0, 0, 0.03);
}

#site-footer .footer-copyright {
    margin-bottom: 0px;
}

#site-footer .footer-copyright a {
    color:#253577;
    transition: background 200ms linear, color 200ms linear, border 200ms linear;
}

#site-footer .to-the-top {
    text-align: right;
    color: #253577;
    transition: background 200ms linear, color 200ms linear, border 200ms linear;
}

#site-footer .to-the-top:hover, #site-footer .footer-copyright a:hover {
    color:  #f8c601;
}

#about-us-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 100px;
    background-color: rgba(0, 0, 0, 0.03);
}

#main-contenu section {
    margin-top: 50px;
    margin-bottom: 50px;
}

#main-contenu .section-title {
    margin: 0px auto;
}

#a-propos-img {
    margin: 0px auto;
    width: 65%;
    display: block;
}

.wpforms-submit-container button.wpforms-submit {
    border: none !important;
}

.wpforms-field-container textarea, .wpforms-field-container input {
    border-color: #eee !important;
}

.contact #contact-info-block {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact i {
    color: #253577;
    transition: all 200ms linear;
}

.contact #contact-info-block p:hover > i {
    color: #f8c601;
}

.sa_vert_center {
    width: 90% !important;
}

#partners .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#partners .sa_hover_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-item img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    transition: all 20ms linear;
}

.owl-item:hover img {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(0);
}

#services svg {
    width: 50px;
    height: 50px;
    fill: #253577;
    transition: fill 20ms linear;
}

#services svg:hover {
    width: 100px;
    fill: #f8c601;
}

.service {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service h3 {
    padding: 30px 0px;
}

#services a#autres {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat';
    color: #f8c601;
}

/*
#partners img {
    margin: 20px;
    width: 150px;
    filter: gray; 
    -webkit-filter: grayscale(1); 
    filter: grayscale(1);
    transition: all 100ms linear;
}

#partners img:hover {
    filter: none; 
    -webkit-filter: grayscale(0); 
    filter: grayscale(0);
}
*/
#partners .partner-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
    justify-items: center;
    align-items: center;
}

#partners img {
    margin: 20px;
    width: 150px;
}

.wp-block-cover {
    max-height: 500px;
}

.programmes .parent {
    color: white;
    font-size: 23px;
    font-family: gilroy-bold, sans-serif;
    text-align: center;
    overflow-wrap: break-word;
    height: 300px;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}

.programmes .parent .child {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    background-size: cover !important;
    padding: 100px 50px;
}
.programmes .parent .child:hover {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    text-decoration: none;
}

.programmes {
    margin-top: 50px;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 30px;
}